.newPostForm {
    margin: 20px 0;
}

.newPostForm * {
    display: block;
    margin: 4px 0;

    font-family: inherit;
}

.newPostForm label {
    font-size: 1.4em;
    font-weight: bold;
}

.newPostForm input {
    width: 100%;
    font-size: 1em;

    border: 1px solid rgba(1.0, 1.0, 1.0, 0.6);
    border-radius: 8px;
    padding: 8px;
}

.newPostForm textarea {
    width: 100%;
    height: 200px;
    resize: vertical;

    font-family: monospace;

    border: 1px solid rgba(1.0, 1.0, 1.0, 0.6);
    border-radius: 8px;
    padding: 8px;
}

.formGroup {
    margin: 0 0 20px 0
}
